---
import BlogPost from "../components/BlogPost.astro";
import Layout from "../layouts/Layout.astro";

const description =
  "Currently in my 20th lap around the sun, and actively wondering how I can sight-see a zombie planet. Working on the intersection of machine intelligence and computer systems, with a long-term interest in hardware. Also building wayfarers space - a community of autodidacts and dropouts creating a environment to learn about the world and get back to the future.";
---

<Layout title="Sehaj Pasricha" description={description}>
  <main
    class="mt-36 w-full min-h-screen flex flex-col items-center content-center justify-start align-middle"
  >
    <div
      class="max-w-screen-sm flex flex-col gap-12 px-3 md:px-0 items-center content-center justify-start"
    >
      <!-- Hero -->
      <div class="flex flex-col gap-4 w-full">
        <p class="text-lightheading dark:text-darkheading text-sm md:text-base">
          {description}
        </p>
        <div class="flex flex-row gap-5 items-center">
          <a
            href="/x"
            target="_blank"
            class="fill-lighttext dark:fill-darktext"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="15"
              viewBox="0 0 16 15"
            >
              <path
                d="M12.6009 0.395111H15.0544L9.69434 6.52129L16 14.8576H11.0627L7.19566 9.80168L2.77087 14.8576H0.31595L6.04904 8.305L0 0.395111H5.06262L8.55811 5.01644L12.6009 0.395111ZM11.7399 13.3891H13.0993L4.32392 1.78648H2.86506L11.7399 13.3891Z"
              ></path>
            </svg>
          </a>
          <a
            href="/email"
            target="_blank"
            class="stroke-lighttext dark:stroke-darktext fill-none"
            ><svg width="18" height="15" viewBox="0 0 18 15">
              <path
                d="M17 2.82638C17 1.94638 16.28 1.22638 15.4 1.22638H2.6C1.72 1.22638 1 1.94638 1 2.82638M17 2.82638V12.4264C17 13.3064 16.28 14.0264 15.4 14.0264H2.6C1.72 14.0264 1 13.3064 1 12.4264V2.82638M17 2.82638L9 8.42638L1 2.82638"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"></path>
            </svg></a
          >
          <a
            href="/spotify"
            target="_blank"
            class="fill-lighttext dark:fill-darktext"
          >
            <svg
              width="18"
              height="19"
              viewBox="0 0 16 17"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M8 0.626373C3.6 0.626373 0 4.22637 0 8.62637C0 13.0264 3.6 16.6264 8 16.6264C12.4 16.6264 16 13.0264 16 8.62637C16 4.22637 12.44 0.626373 8 0.626373ZM11.6807 12.1864C11.5207 12.4257 11.2407 12.5064 11 12.3464C9.12 11.1864 6.76 10.9457 3.95933 11.5857C3.68067 11.667 3.44 11.4664 3.36 11.2264C3.28 10.9457 3.48 10.7064 3.72 10.6264C6.76 9.94571 9.4 10.2264 11.48 11.5064C11.76 11.6264 11.7993 11.9457 11.6807 12.1864ZM12.6407 9.98637C12.44 10.2664 12.08 10.3864 11.7993 10.1864C9.64 8.86637 6.36 8.46637 3.84 9.26637C3.52067 9.34637 3.16 9.18637 3.08 8.86637C3 8.54637 3.16 8.18571 3.48 8.10571C6.4 7.22637 10 7.66704 12.48 9.18637C12.7207 9.30704 12.84 9.70637 12.6407 9.98637ZM12.7207 7.74637C10.16 6.22637 5.88 6.06637 3.44 6.82704C3.04 6.94637 2.64 6.70637 2.52 6.34637C2.4 5.94571 2.64 5.54637 3 5.42571C5.84 4.58571 10.52 4.74571 13.4807 6.50637C13.84 6.70637 13.96 7.18637 13.76 7.54637C13.5607 7.82704 13.08 7.94571 12.7207 7.74637Z"
              ></path>
            </svg>
          </a>
        </div>
      </div>

      <!-- Writings -->
      <div class="flex flex-col gap-4 w-full">
        <div class="flex flex-row gap-x-2 items-center">
          <h2
            class="text-lightheading dark:text-darkheading text-lg md:text-xl font-medium"
          >
            Writings
          </h2>
          <hr
            class="border-lightheading dark:border-darkheading border-[1px] rounded-sm w-full"
          />
        </div>
        <BlogPost />
      </div>

      <!-- Work -->
      <div class="flex flex-col gap-4 w-full">
        <div class="flex flex-row gap-x-2 items-center">
          <h2
            class="text-lightheading dark:text-darkheading text-lg md:text-xl font-medium"
          >
            Work
          </h2>
          <hr
            class="border-lightheading dark:border-darkheading border-[1px] rounded-sm w-full"
          />
        </div>
        <div
          class="grid w-full justify-between md:grid-cols-3 grid-cols-2 gap-y-6"
        >
          <a
            href="https://github.com/tinygrad/tinygrad"
            target="_blank"
            class="flex flex-col gap-1"
          >
            <h4
              class="text-lightheading dark:text-darkheading text-sm md:text-base"
            >
              Tinygrad YOLOv8
            </h4>
            <p class="text-lighttext dark:text-darktext text-xs md:text-sm">
              Implemented YOLOv8 from scratch.
            </p>
          </a>
          <a
            href="https://github.com/tinygrad/tinygrad"
            target="_blank"
            class="flex flex-col gap-1"
          >
            <h4
              class="text-lightheading dark:text-darkheading text-sm md:text-base"
            >
              Metaviu
            </h4>
            <p class="text-lighttext dark:text-darktext text-xs md:text-sm">
              Ads for the Metaverse.
            </p>
          </a>
          <a
            href="https://github.com/tinygrad/tinygrad"
            target="_blank"
            class="flex flex-col gap-1"
          >
            <h4
              class="text-lightheading dark:text-darkheading text-sm md:text-base"
            >
              Astraverse
            </h4>
            <p class="text-lighttext dark:text-darktext text-xs md:text-sm">
              Ads for the Metaverse.
            </p>
          </a>
          <a
            href="https://github.com/tinygrad/tinygrad"
            target="_blank"
            class="flex flex-col gap-1"
          >
            <h4
              class="text-lightheading dark:text-darkheading text-sm md:text-base"
            >
              Wayfarers Space
            </h4>
            <p class="text-lighttext dark:text-darktext text-xs md:text-sm">
              A community for unschoolers & unconventionalists.
            </p>
          </a>
          <a
            href="https://github.com/tinygrad/tinygrad"
            target="_blank"
            class="flex flex-col gap-1"
          >
            <h4
              class="text-lightheading dark:text-darkheading text-sm md:text-base"
            >
              John Coogan Discord Bot
            </h4>
            <p class="text-lighttext dark:text-darktext text-xs md:text-sm">
              To tackle spam for John Coogan&apos;s Discord.
            </p>
          </a>
          <a
            href="https://github.com/tinygrad/tinygrad"
            target="_blank"
            class="flex flex-col gap-1"
          >
            <h4
              class="text-lightheading dark:text-darkheading text-sm md:text-base"
            >
              Edyst
            </h4>
            <p class="text-lighttext dark:text-darktext text-xs md:text-sm">
              Internship at YC backed Edtech startup.
            </p>
          </a>
        </div>
      </div>
    </div>
  </main>
</Layout>
