<footer
  class="mt-32 w-full flex flex-col items-center content-center justify-start align-middle border-t border-t-lighthighlight dark:border-t-darkhighlight"
>
  <div
    class="max-w-screen-sm w-full flex flex-row py-2 px-3 md:px-0 items-start text-left justify-between text-lighthighlight dark:text-darkhighlight"
  >
    <a
      href="https://github.com/theblapse/sahaja"
      class="hover:text-lighttext dark:hover:text-darktext"
      target="_blank">This site is open source on GitHub.</a
    >
    <a
      href="https://x.com/theblapse"
      class="hover:text-lighttext dark:hover:text-darktext"
      target="_blank">@TheBlapse</a
    >
  </div>
</footer>
