<nav class="fixed top-0 w-screen py-6 flex justify-center">
  <div class="flex flex-row justify-between max-w-screen-sm w-full">
    <h1 class="text-xl text-lightheading dark:text-darkheading font-[500]">
      <a href="/">Sehaj Pasricha.</a>
    </h1>
    <ul class="flex flex-row gap-4 dark:text-darktext text-lighttext text-base">
      <a href="/misc">misc</a>
      <a href="about">about</a>
    </ul>
  </div>
</nav>

<style is:global>
  a:hover {
    text-decoration: underline;
    opacity: 0.8;
  }
</style>
