---
interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;

import Navigation from "../components/Navigation.astro";

import "@fontsource/league-spartan";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{title}</title>
  </head>
  <body class="bg-lightbg dark:bg-darkbg min-h-screen">
    <Navigation />
    <slot />
  </body>

  <style is:global>
    html {
      font-family:
        League Spartan,
        system-ui,
        -apple-system,
        BlinkMacSystemFont,
        sans-serif;
    }
    code {
      font-family:
        Menlo,
        Monaco,
        Lucida Console,
        Liberation Mono,
        DejaVu Sans Mono,
        Bitstream Vera Sans Mono,
        Courier New,
        monospace;
    }
  </style>
</html>
